@use "../../styles/abstracts/variables" as v;
@use "../../styles/abstracts/mixins" as m;

.container {
  @include m.flexCenter();
  width: fit-content;
  gap: 1em;
  height: 3rem;
}

.container li {
  @include m.flexCenter();
  list-style: none;
  cursor: pointer;
  border-radius: 5px;
  width: fit-content;
  height: 3rem;
  & span {
    padding: 1rem 1rem;
  }
}

.numbers:hover,
.arrows:hover {
  background-color: v.$color-primary-light;
  color: v.$text-color-dark;
}

.container a {
  width: 3rem;
  height: 3rem;
  margin: auto;
  text-align: center;
  line-height: 2rem;
  vertical-align: middle;
}

.numbers {
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  vertical-align: middle;
  // background-color: v.$color-secondary;
}

.arrows {
  width: 5rem;
  background-color: v.$color-primary;
}

.arrows a {
  width: 5rem;
}

.active {
  background-color: v.$color-primary-dark;
  color: v.$text-color-light;
}
